main img {
    height: 50vh;
    border-radius: 10px;
}
main>section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}

main>section>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main p {
    text-indent: 5rem;
}