<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/arte.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte" class="negrito">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>

    <main>
        <section>
            <h1>Mateus Gewehr</h1>
            <div>
                <img src="../static/assets/arte/mateus.jpg" alt="Trabalho do Mateus">
                <div>
                    <p>A obra foi feita com base na notícia "<a href="/noticia-mateus">Apenas 4 dos 500 CEOs listados em ranking das maiores empresas do mundo são negros</a>”, postada no G1 em 22/11/2022. A obra apresenta centenas de pessoas, sendo apenas duas delas negras, para representar a proporção, informada pela notícia, de que apenas 0,8% dos CEOs das maiores empresas do mundo são negros.</p>
                    <p>Seus trajes estão em cinza para representar ternos, vestimentas comumente associadas a CEOs. Além disso, a cor serve para mascarar ainda mais as duas pessoas negras na obra, pois marrom e cinza são cores visualmente semelhantes, sem contraste entre si, o que dificulta ainda mais a visualização dos indivíduos dessa raça, reforçando a ideia de que eles são praticamente irrelevantes num cenário de tamanha magnitude.</p>
                    <p>O fundo da obra é representado por prédios de grandes corporações. Os logos neles desenhados foram assim feitos de forma a lembrar empresas gigantes existentes no mundo real. Além disso, o conteúdo dos edifícios não contém significado especial. As janelas foram desenhadas com diferentes padrões puramente para fins estéticos.</p>
                    <p>O título da obra, “Diversidade & Meritocracia”, que a caracteriza como charge, é uma ironia. Claramente não há diversidade, visto que apenas 0,8% das pessoas ali são negras; também, não aparenta existir um equilíbrio meritocrático envolvido, visto que, como o próprio conteúdo da notícia do G1 aponta, indivíduos negros têm de trabalhar duas vezes mais e apresentar o dobro de resultados para obter o mesmo reconhecimento que os demais.</p>
                    <p>A obra caracteriza-se como uma releitura de “Operários”, de Tarsila do Amaral, devido à multidão posicionada no canto inferior direito, ocupando a maior parte da tela, com uma divisão para com o fundo da obra em diagonal crescente, da esquerda para a direita, de maneira semelhante ao quadro original. Por fim, o fundo apresenta prédios de forma extremamente parecida com a arte anteriormente mencionada.</p>
                </div>
            </div>
        </section>

        <section>
            <h1>Isabelle Ely</h1>
            <div>
                <img src="../static/assets/arte/isabelle.jpg" alt="Trabalho da Isabelle">
                <div>
                    <p>O meu trabalho foi baseado a partir da notícia do site da G1 “<a href="/noticia-isabelle">Pesquisa mostra que minorias não chegam a 10% do quadro de colaboradores nas empresas</a>”.</p>
                    <p>Na notícia, principalmente negros, LGBTI+ e pessoas com deficiência continuam sendo minorias nas empresas.</p>
                    <p>Dentre os gêneros de linguagens que estudamos, fiz uma charge, no qual resolvi desenhar uma fila em forma de “S”, inspirada na obra “operários”. No meu desenho, mostro trabalhadores que estão procurando por uma vaga de emprego em um prédio comercial. Porém, a maioria dos empregados são brancos privilegiados e a minoria não é muito procurada.</p>
                    <p>A relação que a obra “Operários” tem com o desenho produzido em aula, é as diferentes etnias e culturas representadas nas feições das personagens. Pois mostra um grande grupo de pessoas procurando emprego, mas várias delas possuem mais dificuldades no mercado de trabalho do que outras mais favorecidas.</p>
                </div>
            </div>
        </section>

        <section>
            <h1>Pedro Gabriel Silveira</h1>
            <div>
                <img src="../static/assets/arte/pedro.jpg" alt="Trabalho do Pedro">
                <div>
                    <p>A notícia que eu escolhi foi "<a href="/noticia-pedro">Bilionários jovens são minoria: idade média dos 3.194 bilionários do mundo é de 67 anos</a>", do Época Negócios.</p>
                    <p>Onde ela fala sobre os bilionários, que são cerca de 3.100 bilionários ao redor o mundo, o que é um número muito baixo, já que existem mais de 8 bilhões de pessoas no mundo.</p>
                    <p>Eu acabei escolhendo essa notícia pelo fato de, de certa forma, os bilionários serem uma "minoria".</p>
                    <p>Na minha pintura (desenho) eu tentei utilizar a mesma divisão da obra da Tarsila do Amaral (Operários). Dando foco aos bilionários e mais ao fundo (lateral) coloquei uma fábrica e seu funcionários (fiz eles na forma de sombra para não chamarem tanta atenção).</p>
                    <p>Fiz uma pintura mais sombria/escura e pintei os bilionários de forma que a mulher e o homem negro chamem atenção.</p>
                    <p>Eu usei muito como referência a obra Operários da Tarsila.</p>
                </div>
            </div>
        </section>

        <section>
            <h1>Nicolas Menegussi</h1>
            <div>
                <img src="../static/assets/arte/nicolas.jpg" alt="">
                <div>
                    <p>Meu trabalho foi inspirado na notícia do site Exame: "<a href="/noticia-nicolas">Mulheres na Era da Tecnologia Desafiam o Preconceito e Alcançam a Igualdade de Gênero</a>".</p>
                    <p>A obra "Operários" é uma representação vívida da transformação social e econômica que ocorreu no Brasil durante um período de rápido crescimento industrial. Pessoas de diversas origens e etnias migraram para as cidades, especialmente São Paulo, em busca de oportunidades nas fábricas em expansão. Tarsila do Amaral, conhecida por seu estilo modernista, capturou essa diversidade em seu quadro, destacando a contribuição de muitos trabalhadores para o desenvolvimento industrial do país, mesmo que isso tenha exposto preconceitos e desigualdades.</p>
                    <p>Em minha releitura da obra, mantive a mensagem central, mas mudei o contexto para a era da tecnologia. Destaquei o preconceito de gênero e a desigualdade que muitas mulheres enfrentavam no mercado de trabalho. As mulheres, antes restritas a determinados papéis, agora assumem papéis de liderança, incluindo na tecnologia. Os cabelos diferentes das mulheres, símbolos de individualidade, são celebrados e valorizados, não sendo mais motivo de discriminação.</p>
                    <p>Uma balança foi usada na minha releitura, com um lado representando as mulheres e o outro os homens, simbolizando a disparidade salarial e de reconhecimento que historicamente afetou as mulheres. Isso destaca a necessidade contínua de trabalhar para alcançar a igualdade de gênero.</p>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>