<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/classificados.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados" class="negrito">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>
    <main>
        <section id="principal">
            <h1 id="job_opportunity">Job Opportunity:</h1>
            <h1 id="operations_manager">Operations Manager II</h1>
            <section id="tudo-exceto-titulos">
                <section id="aux">
                    <section id="info">
                        <div id="linha1-esquerda" class="icone"><i class="fa-solid fa-location-dot fa-3x"></i></div>
                        <div id="linha1-direita"><p>Stanislaus County, Canada</p></div>
                        <div id="linha2-esquerda" class="icone"><i class="fa-solid fa-dollar-sign fa-3x"></i></div>
                        <div id="linha2-direita"><p>$74.464 - $111.696 a year</p></div>
                        <div id="linha3-esquerda" class="icone"><i class="fa-solid fa-gear fa-3x"></i></div>
                        <div id="linha3-direita"><p>Required Skills:</p></div>
                    </section>

                    <section id="habilidades">
                        <div id="sublinha1-esquerda" class="icone"><i class="fa-solid fa-comment fa-3x"></i></div>
                        <div id="sublinha1-direita"><p>Communication</p></div>
                        <div id="sublinha2-esquerda" class="icone"><i class="fa-solid fa-crown fa-3x"></i></div>
                        <div id="sublinha2-direita"><p>Leadership</p></div>
                        <div id="sublinha3-esquerda" class="icone"><i class="fa-solid fa-money-check-dollar fa-3x"></i></div>
                        <div id="sublinha3-direita"><p>Experience with Budget</p></div>
                        <div id="sublinha4-esquerda" class="icone"><i class="fa-solid fa-hand-fist fa-3x"></i></div>
                        <div id="sublinha4-direita"><p>Determination</p></div>
                        <div id="sublinha5-esquerda" class="icone"><i class="fa-solid fa-puzzle-piece fa-3x"></i></div>
                        <div id="sublinha5-direita"><p>Resilience</p></div>
                    </section>
                </section>
                <div id="linha"></div>
                <section id="work">
                    <h2>Why should you work with us?</h2>
                    <p>This job opportunity is for determined, resilient, courageous, and persevering people, who are willing to sacrifice themselves for the greater good and that have the ability to transform challenges in opportunities. We believe that personal growth is fundamental for the profession’s development. We value fairness and we look for compassionate people who, like us, value forgiveness and empathy.</p>
                    <button>Apply</button>
                </section>
            </section>
        </section>
    </main>
    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>