<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/noticia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao" class="negrito">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>
    
    <main>
        <section class="inicio">
            <div>
                <h1>Mesmo com o passar do tempo, o mercado de trabalho se mantém fundamentalmente o mesmo</h1>
                <h2>Profissões do período do surgimento do capitalismo têm inúmeras semelhanças com as existentes atualmente</h2>
            </div>
            <div>
                <h3>Por Mateus Gewehr</h3>
                <h4>29/09/2023</h4>
            </div>
        </section>
        <section class="box">
            <img src="../static/assets/coluna.jpg" alt="Imagem da Coluna">
            <h6>Ilustração sobre o trabalho nas corporações de ofício durante o renascimento comercial e urbano. <a href="https://files.cursoenemgratuito.com.br/uploads/2020/04/oficina-de-ourives.jpg">Fonte</a></h6>
        </section>
        <section class="corpo-do-texto">
            <p>O capitalismo surgiu há treze séculos. De lá para cá, o mercado – e o mundo como um todo – mudou muito. Entretanto, as características essenciais, que sustentam o modelo capitalista, se mantiveram as mesmas desde sua criação. Por isso, há diversas semelhanças entre nossos trabalhos hoje e o de profissionais do renascimento comercial e urbano, no século XIII.</p>
            <p>Essas relações podem ser traçadas majoritariamente através do ferreiro, profissão extremamente importante e valorizada à época. Para começar, tanto o mercado atual quanto o de antigamente demandam muita qualificação. Para ser um ferreiro, era necessário ter muitos conhecimentos técnicos. Para isso, precisava-se ou vir de uma família de ferreiros, que passavam o conhecimento de geração em geração, ou ter muito dinheiro para contratar alguém para lhe ensinar o que fosse necessário. Logo, pobres muito dificilmente conseguiriam ser ferreiros. Estes, então, tinham de se submeter a profissões menos valorizadas, mais fisicamente desgastantes, com salários menores e que exigiam menos qualificação, como o pedreiro.</p>
            <p>Engana-se quem pensa que hoje em dia o mercado é mais competitivo que antigamente. Naquela época, de fato existiam menos pessoas concorrendo entre si. Mas também existiam menos comprando. Isso porque existia menos gente no geral; então, com menos compra e com menos venda, no final, a relação entre oferta e demanda se mantém. O que mudou de lá para cá foi a escala, a proporção, que cresceu exponencialmente.</p>
            <p>Assim como hoje em dia, antigamente, diversos profissionais eram constantemente pressionados a produzir e a serem mais eficiente que os demais. A pressão para ser produtivo, hoje em dia, advém da concorrência entre um funcionário e outros, disputando por vagas no mercado de trabalho, e entre uma empresa e outra, disputando por clientes. Logo, como a proporção de concorrência daquela época para esta se manteve, é evidente que profissões análogas às que temos atualmente - como a de ferreiro, por exemplo – têm condições bem semelhantes. A principal diferença é que, em vez de esses profissionais concorrerem para vagas de emprego, eles criam seus produtos e vendem diretamente para os clientes; por isso, sob essa ótica, eles teriam uma relação maior com as empresas hoje do que com os funcionários.</p>
            <p>Por esse mesmo motivo, diversas características referentes ao modelo capitalista existente hoje, especialmente os relacionados à concorrência, têm muita semelhança com aquele período; a exigência de disciplina, proatividade, liderança, resiliência, todos relacionados a ser um profissional melhor e mais eficiente que os demais.</p>
            <p>A maioria de nós temos de acordar diariamente, ir trabalhar, produzir e vender nossa mão de obra consistentemente, mesmo que, algumas vezes, não queiramos fazê-lo. Naquela época, a situação era semelhante; como em qualquer outra profissão, o ferreiro, por exemplo, também precisava ser disciplinado. Se ficasse alguns dias sem trabalhar ou fosse desorganizado e não fizesse um trabalho tão bom, seus clientes naturalmente o deixariam e buscariam profissionais que oferecessem serviços melhores.</p>
            <p>Quando pensamos em profissões mais antigas, a exemplo da que mais foi citada nessa coluna até o momento – o ferreiro -, é de se imaginar que uma característica muito presente no mercado hoje, o trabalho em equipe, não era relevante na época. O ferreiro, aparentemente, trabalha sozinho e produz o que precisar manualmente sem ajuda externa. Entretanto, isso não é verdade. Nas ditas Corporações de Ofício, profissionais com a mesma ocupação faziam acordos entre si, trocavam recursos, experiências, auxílios, entre outros que davam um suporte muito grande para, nesse exemplo, os demais ferreiros. Logo, trabalhar em equipe tanto é importante nessa época quanto era naquela.</p>
            <p>Hoje, o mercado é extremamente volátil. A evolução das tecnologias e as constantes modificações nos empregos causados por ela geram essa volatilidade. Naquela época, profissões como a do ferreiro também eram muito voláteis. Eles dependiam da demanda pelo consumo de produtos na comunidade local, mas diversos eventos poderiam reduzi-la drasticamente e afetar a renda desses profissionais. O fim de uma guerra, por exemplo, reduziria a demanda por armas, armaduras e escudos. A mudança de estação, também, diminuiria a necessidade de diversas ferramentas utilizadas no campo. Portanto, essa relação entre o mercado antigo e o atual pode ser novamente evidenciada.</p>
            <p>Devido a essa volatilidade toda, temos de estar sempre estudando e nos adaptando a essas tecnologias. Por isso, se antigamente o mercado também era volátil, era extremamente importante se adaptar a ele para não ficar sem clientes e ir à falência. Logo, a formação contínua é uma característica fundamental para ambos os tempos.</p>
            <p>Com essa análise, fica claro que, mesmo que o mercado tenha se modificado muito ao longo dos anos, ainda há inúmeras semelhanças entre o modelo capitalista em que vivemos hoje e o vivido pelas pessoas durante a sua criação e consolidação. Porque, embora o tempo passe, o sistema se mantém o mesmo e, consequentemente, suas características fundamentais pouco se alteram.</p>
        </section>
    </main>

    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>