<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/noticias-e-reportagens.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias" class="negrito">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>
    <main>
        <section class="pai">
            <div class="mae">
                <h1>Notícias</h1>
                <img src="../static/assets/placeholder.png" alt="imagem-not-1">
                <img src="../static/assets/placeholder.png" alt="imagem-not-2">
            </div>

            <section class="conteudo">
                <div>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi unde ullam at fuga
                        cupiditate debitis, fugiat, eius ab ut dignissimos corrupti cumque dolore, hic praesentium
                        quaerat reiciendis minus deleniti.</p>
                </div>
                
                <div>
                    <h2>Titulo</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel excepturi unde ullam at fuga
                        cupiditate debitis, fugiat, eius ab ut dignissimos corrupti cumque dolore, hic praesentium
                        quaerat reiciendis minus deleniti.</p>
                </div>
            </section>
        </section>
    </main>
    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>