<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/noticia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>

    <main>
        <section class="inicio">
            <div>
                <h1>Mulheres que trabalham com tecnologia revelam preconceitos sofridos</h1>
                <h2>Pesquisa da consultoria de recrutamento Yoctoo aponta que 78% das mulheres afirmam ter sofrido preconceito em áreas de tecnologia e mostra os modos como isto mais ocorre</h2>
            </div>
            <div>
                <h3>Por Marina Filippe, Exame</h3>
                <h4>05/08/2022</h4>
            </div>
        </section>
        <section class="box">
            <img src="../static/assets/notícias/nicolas.png" alt="Imagem da notícia">
            <h6>Mulheres sofrem preconceito em áreas de tecnologia (Delmaine Donson/Getty Images)</h6>
        </section>
        <section class="corpo-do-texto">
            <p>A inserção e valorização das mulheres no mercado de tecnologia é um desafio. Isto é o que mostra a terceira edição da pesquisa Os principais desafios de mulheres em tecnologia, conduzida pela consultoria de recrutamento Yoctoo, na qual 78% delas afirmam ter sofrido preconceito, sendo nas empresas em 61% dos casos, seguido por 36% no ambiente escolar e 32% em processos seletivos.</p>
            <p>Entre as situações mais comuns estão o manterruping, que são interrupções feitas por homens, apontadas por 46% delas; o mansplaining, que são explicações óbvias de um homem para uma mulher, com 35%; e bropriating, que é quando um homem leva créditos por uma ideia de uma mulher, com 33%. Cerca de 21% delas relatam assédio moral e 19% se queixam de gaslighting, que é o abuso psicológico que faz a mulher duvidar do seu próprio senso de percepção e sanidade.</p>
            <p>Além disso, o preconceito começa antes mesmo da contratação. Cerca de 22% afirmam que o gênero aumenta a dificuldade nos processos seletivos – número que salta para 53% quando ainda são estudantes de tecnologia. Uma vez contratadas, 61% dizem ter que provar suas habilidades técnicas o tempo todo e 46% afirmam que o maior desafio é serem respeitadas por líderes, pares ou subordinados do sexo masculino. “Precisamos identificar essas ações e incentivar para que todas as mulheres sejam reconhecidas e valorizadas”, diz Paulo Exel, diretor da Yoctoo.</p>
            <p>Apesar das essas dificuldades, a área tem se mostrado mais atraente. Em 2019, a oportunidade de aprender foi apontada por 8% das entrevistadas, saltando para 33% em 2021 e 54% em 2022. A remuneração e os benefícios registram aumento de 18% em 2019, para 39% em 2021 e 52% agora.</p>
            <p>"Na prática, as empresas precisam criar oportunidades para que elas se desenvolvam, atuando em atividades multidisciplinares e com acesso a tecnologias inovadoras. Também é aconselhável oferecer um plano de carreira estruturado, com possibilidade de participação nos lucros, programas de educação continuada, além de um clima organizacional saudável, que ofereça um trabalho com autonomia, flexibilidade de horários e propósito”, afirma Thássia Gonçalves, consultora especializada na contratação de profissionais das áreas de tecnologia e digital da Yoctoo.</p>
            <p><b>Continue lendo <a href="https://exame.com/esg/mulheres-que-trabalham-com-tecnologia-revelam-preconceitos-sofridos/">aqui</a></b></p>
        </section>
    </main>

    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>