<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/noticia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>

    <main>
        <section class="inicio">
            <div>
                <h1>Pesquisa mostra que minorias não chegam a 10% do quadro de colaboradores nas empresas</h1>
                <h2>Negros, LGBTI+ e pessoas com deficiência continuam sendo minorias nas empresas, apesar de 73% dos entrevistados acharem que empresas têm um quadro bastante diverso.</h2>
            </div>
            <div>
                <h3>Por Marta Cavallini, G1</h3>
                <h4>16/07/2021</h4>
            </div>
        </section>
        <section class="box">
            <img src="../static/assets/notícias/isabelle.png" alt="Imagem da notícia">
            <h6></h6>
        </section>
        <section class="corpo-do-texto">
            <p>Pesquisa mostra que menos de 10% dos colaboradores das empresas fazem parte de algum dos grupos considerados minoritários, como negros, LGBTI+ e pessoas com deficiência (PCDs). Além disso, apenas metade das companhias tem uma política de inclusão e diversidade amplamente divulgada.</p>
            <p>Levantamento da Pulses, plataforma de soluções de clima organizacional, engajamento e performance, em parceria com a Nohs Somos, startup de diversidade & inclusão, aponta que as minorias continuam sendo minorias nos quadros de funcionários. Entre os mais de 6 mil respondentes, 8% se declararam negros; 4% não binários, pessoas trans e travestis; 8% LGBTI+ e 3% relataram ter algum tipo de deficiência.</p>
            <p>Em relação à percepção dos colaboradores sobre a existência de diversidade na equipe, 73% disseram que a organização tem um quadro bastante diverso. Mas esse resultado conflita diretamente com os dados da pesquisa, já que as pessoas que se declararam parte de alguma minoria (de raça, identidade de gênero, orientação sexual e PCDs) representam menos de 10% do quadro de colaboradores.</p>
            <p>Para Bruno Jordão, co-fundador e diretor de comunidade da Nohs Somos, esses dados evidenciam o quanto a percepção de mundo de um indivíduo está ligada à sua própria bagagem cultural e vivência social.</p>
            <p>“É comum na sociedade brasileira que as pessoas convivam com outras que possuam marcadores sociais semelhantes aos delas. Ou seja, é comum que convivamos com pessoas iguais a nós mesmos, e essa percepção impossibilita uma visão mais ampla sobre diversidade. Assim, a presença de qualquer marcador que seja diferente da própria existência do indivíduo é o suficiente para a sensação de que aquele ambiente é diverso. Por isso, uma pessoa heterossexual tende a sentir que existe diversidade na empresa se existem pessoas LGBTI+. O mesmo acontece com as pessoas brancas, que tendem a não perceber a falta de pessoas negras no seu círculo social”, explica.</p>
            <p><b>Continue lendo <a href="https://g1.globo.com/economia/concursos-e-emprego/noticia/2021/07/16/pesquisa-mostra-que-minorias-nao-chegam-a-10percent-do-quadro-de-colaboradores-nas-empresas.ghtml">aqui</a></b></p>
        </section>
    </main>

    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>