<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/noticia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>

    <main>
        <section class="inicio">
            <div>
                <h1>Bilionários jovens são minoria: idade média dos 3.194 bilionários do mundo é de 67 anos</h1>
                <h2>Nomes como o de Clemente Del Vecchio, que aos 19 anos de idade já é dono de uma fortuna estimada em US$ 3,8 bilhões, são bem mais raros: a maioria dos bilionários do mundo está acima da idade de aposentadoria</h2>
            </div>
            <div>
                <h3>Por Redação Época NEGÓCIOS</h3>
                <h4>31/05/2023</h4>
            </div>
        </section>
        <section class="box">
            <img src="../static/assets/notícias/pedro.png" alt="Imagem da notícia">
            <h6>Bilionários jovens como Clemente Del Vecchio são raros — Foto: Reprodução/Instagram</h6>
        </section>
        <section class="corpo-do-texto">
            <p>Nomes como o do italiano <b>Clemente Del Vecchio</b>, que aos 19 anos de idade já é dono de uma <b>fortuna</b> estimada em US$ 3,8 bilhões, conforme divulgou a Forbes na última segunda-feira (28), são raros nesse universo. Clemente se tornou bilionário ao herdar a fortuna do pai, Leonardo Del Vecchio, fundador da <b>Luxottica</b>, maior marca de óculos do mundo.</p>
            <p>E ainda que <a href="https://epocanegocios.globo.com/mundo/noticia/2023/05/do-alibaba-ao-tiktok-conheca-os-10-bilionarios-mais-poderosos-da-asia-e-a-origem-de-suas-fortunas.ghtml"><b>bilionários</b></a> mais jovens, como <a href="https://epocanegocios.globo.com/mundo/noticia/2023/05/elon-musk-e-recebido-com-elogios-em-viagem-a-china.ghtml"><b>Elon Musk</b></a>, 51, e <a href="https://epocanegocios.globo.com/tecnologia/noticia/2023/03/zuckerberg-diz-que-engenheiros-da-meta-em-trabalho-presencial-tem-melhor-desempenho-que-os-remotos.ghtml"><b>Mark Zuckerberg</b></a>, 39, dominem as manchetes, a maioria dos bilionários do mundo está acima da idade de aposentadoria, de acordo com um estudo divulgado nesta quarta-feira pela empresa de dados Altrata. Segundo o levantamento, a idade média dos 3.194 bilionários do mundo é de <b>67 anos</b> - 42% têm mais de 70 anos e menos de 10% têm menos de 50 anos.</p>
            <p>Os bilionários do mundo são em grande parte empresários idosos, como Warren Buffett, 92, e Bernard Arnault, 74, que passaram a vida inteira, ou mesmo gerações, construindo patrimônio, lembra um artigo da <a href="https://www.cnbc.com/2023/05/31/billionaire-median-age-study.html"><b>CNBC</b></a>.</p>
            <p>“Muitos dos bilionários mais jovens enriqueceram com tecnologia, que tem sido uma indústria de criação rápida de riqueza e recebe muita atenção da mídia”, disse Maya Imberg, diretora sênior e chefe de liderança de pensamento e análise da Altrata. “Mas a maior parte da riqueza leva muito tempo para ser acumulada, a menos que seja herdada”, acrescentou a analista.</p>
            <p><b>Continue lendo <a href="https://epocanegocios.globo.com/mundo/noticia/2023/05/bilionarios-jovens-sao-minoria-idade-media-dos-3194-bilionarios-do-mundo-e-de-67-anos.ghtml">aqui</a></b></p>
        </section>
    </main>

    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>