<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaborInforme</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/noticia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>
    
    <main>
        <section class="inicio">
            <div>
                <h1>Apenas 4 dos 500 CEOs listados em ranking das maiores empresas do mundo são negros</h1>
                <h2>Levantamento mostra ainda que 60% dos CEOs negros precisaram trabalhar o dobro para chegar ao topo.</h2>
            </div>
            <div>
                <h3>Por Marta Cavallini, g1</h3>
                <h4>22/11/2022</h4>
            </div>
        </section>
        <section class="box">
            <img src="../static/assets/notícias/mateus.png" alt="Imagem da Notícia">
            <h6>Trabalho para negros; emprego; negros no mercado de trabalho — Foto: Unsplash</h6>
        </section>
        <section class="corpo-do-texto">
            <p>Estudo global da empresa global de consultoria organizacional Korn Ferry mostra que apenas 4 dos 500 CEOs listados no ranking anual da <a href="https://fortune.com/fortune500/">revista "Fortune"</a> das maiores empresas do mundo são negros, representando 0,8% do total.</p>
            <p>Há 10 anos, eram 7 (1,4%). Ou seja, além de ser irrisório, o número de diretores executivos (C-Level) negros caiu 43% em uma década.</p>
            <p>Com isso, a consultoria prevê que, nos próximos anos, pode haver ainda menos – <b>ou nenhum líder negro na lista.</b></p>
            <p>Os cargos de C-level, como CEOs (Chief Executive Officer), CFOs (Chief Financial Officer), COOs (Chief Operating Officer), CMOs (Chief Marketing Officer) e CTOs (Chief Technology Officer), são os mais altos na hierarquia das empresas.</p>
            <p><b>Continue lendo <a href="https://g1.globo.com/trabalho-e-carreira/noticia/2022/11/22/apenas-4-dos-500-ceos-listados-em-ranking-das-maiores-empresas-do-mundo-sao-negros.ghtml">aqui</a></b></p>
        </section>
    </main>

    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>
</body>
</html>