<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saúde Mental no Trabalho: “O estresse é algo que anda junto da minha profissão”</title>
    <link rel="stylesheet" href="../static/css/header-e-footer.css">
    <link rel="stylesheet" href="../static/css/reportagem-saude-mental.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>

<body>
    <header>
        <img src="../static/assets/logo.png" alt="Logo" class="logo">

        <div class="abas-navbar-header">
            <a href="/">Home</a>
            <a href="/noticias">Notícias</a>
            <a href="/reportagens">Reportagens</a>
            <a href="/classificados">Classificados</a>
            <a href="/poema">Poema</a>
            <a href="/arte">Arte</a>
            <a href="/coluna-de-opiniao">Coluna de Opinião</a>
            <a href="/carta_dos_leitores">Carta dos Leitores</a>
        </div>

        <section class="barra-de-pesquisa">
            <i class="fa-solid fa-magnifying-glass fa-2x"></i>
            <input type="text" placeholder="Pesquisar">
        </section>
    </header>
    <main>
        <h1>Saúde Mental no Trabalho: “O estresse é algo que anda junto da minha profissão”</h1>
        <h2>O Brasil é o país mais ansioso do mundo. 86% dos brasileiros têm algum transtorno mental, como ansiedade e depressão. Cuidar da saúde mental deve ser prioridade; felizmente, existem muitas maneiras de fazê-lo.</h2>
    
        <p>Joana* é uma professora. Mora em São Leopoldo. Trabalha em duas escolas. Acorda às 5 h 30 min, arruma-se e vai para o trabalho. Passa 40 min viajando de carro. Passa, em média, 7 horas e meia dando aula. Para apenas para almoçar. Volta para casa. Passa 5 horas cuidando do filho, uma criança com deficiência. Quando não o está fazendo, divide-se em afazeres domésticos e planejamentos de aulas. Concilia-se entre os dois empregos. Passa o resto do dia corrigindo provas e preparando atividades. Toma banho, janta e vai dormir à meia-noite e meia. Tem cinco horas de sono. Repete.</p>
        <p class="olho">“Eu preciso trabalhar em duas escolas porque, financeiramente, uma só não dá conta [...] e eu tenho um filho pequeno, de três anos, que é uma criança autista”</p>
        <p class="subolho">- Joana</p>
    
        <section>
            <img src="../static/assets/reportagem/grafico-ansiedade.png" alt="Gráfico sobre Índices de Ansiedade por País (% da população)">
            <h6>Baseado no relatório "<a>Depression and Other Common Mental Disorders</a>", da OMS</h6>
        </section>
    
        <p>No gráfico acima, os dados mostram que o Brasil é o país com o maior índice de pessoas com ansiedade no mundo. Inúmeros brasileiros passam por situações análogas às de Joana diariamente. E, aos poucos, isso vem sendo naturalizado. Entretanto, rotinas como essa têm impactos extremamente preocupantes sobre a saúde mental da população.</p>
        <p>Muitas vezes, situações como essa não chegam ao conhecimento das pessoas e tampouco parecem ser tão alarmantes quanto de fato são.</p>
        <section>
            <img src="../static/assets/reportagem/grafico-transtornos.png" alt="Gráfico sobre Transtornos Mentais no Brasil (% da população)">
            <h6>Baseado no post "<a>A importância da saúde mental no trabalho e como promover ações na sua empresa</a>", do Sólides, e na notícia "<a>Ações realizadas pela Rede Ebserh/MEC buscam conscientizar sobre a importância da saúde mental</a>", do Minisério da Educação - Governo Federal</h6>
        </section>
    
        <p>Pesquisas apontam que 86% dos brasileiros sofrem com algum transtorno mental. 59% estão em estado máximo de depressão e 63%, de ansiedade. 37% têm estresse severo. Isso mostra o tamanho da importância do tema, em contraste com quão pouca importância lhe é dada.</p>
    
        <h3>O que as pessoas pensam sobre a saúde mental no trabalho?</h3>
    
        <section>
            <img src="../static/assets/reportagem/entrevista.jpg" alt="Entrevistador falando com uma das entrevistadas">
            <h6>Entrevistador falando com uma das entrevistadas</h6>
        </section>
        
        <p>Buscando entender o que os trabalhadores brasileiros pensam sobre o tema e como isso se mostra presente em suas ocupações, nossa equipe entrevistou quatro funcionários de diferentes hierarquias e condições sociais.</p>
        <p>As entrevistas foram feitas separadamente; contudo, como as perguntas são as mesmas, as respostas de todos serão apresentadas em conjunto. Os questionamentos feitos pelo entrevistador serão representados em negrito e as respostas dos entrevistados, não. Estas estarão entre aspas, precedidas do seu interlocutor. Para preservar suas identidades, seus nomes verdadeiros não serão revelados e não serão fornecidas informações irrelevantes sobre eles. Todos os nomes citados são fictícios. Algumas falas foram levemente adaptadas para melhor compreensão, então não estão transcritas exatamente como proferidas.</p>
        <p>A primeira entrevistada é Joana, uma professora cuja situação já fora apresentada anteriormente nesta reportagem. A segunda é Angélica, pertencente a um cargo de maior prestígio social e que recebe mais dinheiro pelo seu trabalho. A terceira é Natália, que tem um emprego menos valorizado pela sociedade e que ganha um salário menor. O quarto entrevistado é José, que passa por situação semelhante à de Natália.</p>
        <p>Confira, na íntegra, as entrevistas:</p>
        
        <h4>O que você pensa sobre o tema “Saúde Mental no Trabalho”?</h4>
        <h4>Como você se sente no seu trabalho atual?</h4>
        <h4>O ambiente do seu trabalho é saudável?</h4>
        <h4>Você já sofreu com estresse, ansiedade, burnout ou relacionados?</h4>
        <h4>Você se sente frequentemente estressado ou pressionado no trabalho?</h4>
        <h4>Sua empresa possui um programa de atendimento psicológico?</h4>
        <h4>Você acredita que poderia haver melhorias no seu trabalho nesse sentido?</h4>
        <h4>Você já relatou problemas ou situações relacionados à sua saúde mental para seus superiores? Se sim, você obteve suporte?</h4>
        <h4>Se algum colega de trabalho seu está com algum problema de saúde mental, o que você faz?</h4>
        <h4>Você acredita que as pessoas ignoram a importância de ter um trabalho saudável? Ou elas preferem apenas garantir ter dinheiro na conta e fingir que está tudo bem?</h4>

        <p class="olho">“Sim, o estresse é muito grande [...], a gente não tem nenhum tipo de suporte aqui, não tem a quem recorrer.”</p>
        <p class="subolho">- Natália</p>

        <p>Nessas entrevistas, entendemos melhor o que pensam e como vivem alguns dos trabalhadores brasileiros. Algo de grande destaque é a discrepância nítida entre a Angélica e a Natália. Esta, de um cargo menos valorizado, sente que o tema é subjugado pela empresa onde trabalha e que sua profissão é psicologicamente desgastante. Aquela, de uma ocupação mais prestigiada e com renda maior, sente-se realizada e feliz e acredita que sua empresa possui um bom suporte no que diz respeito à saúde mental.</p>

        <h3>Como cuidar da sua saúde mental no trabalho?</h3>
        <p>De nada adianta saber disso tudo e não fazer nada a respeito. Se você é como a maioria dos brasileiros, provavelmente sofre com algum tipo de transtorno ou estresse durante seu trabalho. E existem algumas dicas que você pode seguir para melhorar a situação.</p>

        <section>
            <img src="../static/assets/reportagem/dicas-saude-mental.png" alt="">
            <h6>Produzido pela Secretaria da Saúde do Governo do Estado do Ceará</h6>
        </section>

        <h4>Exercite a respiração</h4>
        <p>Pode parecer algo simples e sem muito impacto, mas parar um pouco e controlar sua respiração pode te ajudar muito a reduzir sua ansiedade e estresse. Existem vários métodos, mas um simples é o seguinte:</p>
        <ul>
            <li>Inspire, contando mentalmente até 4;</li>
            <li>Prenda a respiração, contando até 7;</li>
            <li>Expire, contando até 8.</li>
        </ul>
        <p>Essa contagem pode ser em segundos, mas não é estritamente obrigatório. O mais importante é manter a proporção 4-7-8.</p>

        <h4>Dialogue e priorize uma comunicação assertiva</h4>
        <p>Comunicação adequada é essencial. Muitos dos problemas que acontecem no trabalho podem ser evitados se as pessoas se comunicarem umas com as outras corretamente e sem agressividade. Isso vale tanto para os chefes com os funcionários quanto para os funcionários com seus demais colegas e superiores.</p>

        <h4>Exponha seus sentimentos com alguém de confiança</h4>
        <p>Falar faz bem. Não tem problema de se sentir mal; se estiver passando por alguma dificuldade quanto à sua saúde mental, fale com alguém que você confia e tente resolver a situação antes que se torne algo pior. Omitir seus sentimentos nunca é uma boa opção; pelo contrário, isso tende a piorar cada vez mais a situação.</p>

        <h4>Nos intervalos, procure um lugar tranquilo para descansar</h4>
        <p>Quando tiver uma pausa, tente se desligar do trabalho. Vá tomar um pouco de ar fresco, interagir com os outros, relaxe o quanto puder. O ambiente tem muita influência sobre os nossos sentimentos. Às vezes, ir para algum outro lugar, pelo menos durante os intervalos, ajuda-te a desacelerar um pouco.</p>

        <h4>Tenha paciência consigo mesmo</h4>
        <p>Não se cobre tanto. Ninguém é perfeito e você não é uma máquina. Aceite suas imperfeições e trabalhe com elas. Se estiver passando por algum problema, seja paciente consigo mesmo e não torne a situação mais estressante do que o necessário.</p>

        <p>Por fim, reforçamos que o tema é de extrema importância atualmente e não pode ser deixado de lado, especialmente em um país com estado tão alarmante quanto o nosso. Esperamos que use o conhecimento adquirido aqui para ser uma pessoa melhor e mais saudável.</p>

    </main>
    <footer class="footer-universal">
        <h4 class="fale-conosco">Fale conosco</h4>
        <section class="footer-universal">
            <div class="footer-universal">
                <i class="fa-solid fa-phone fa-2x"></i>
                <h6>(00) 12345-6789</h6>
            </div>
            <div class="footer-universal">
                <i class="fa-solid fa-envelope fa-2x"></i>
                <h6>email@email.com</h6>
            </div>
        </section>
    </footer>

</body>
</html>